{% extends 'home/base.html' %}
{% load static %}
{% block content %}
 <main class="main">
      <div class="cover-home3">
        <div class="container">
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 col-lg-12">
              <div class="row align-items-end mt-50">
                <div class="col-lg-7 mb-20">
                  <div class="d-inline-block position-relative">
                    <h1 class="color-white mb-20 color-linear wow animate__animated animate__fadeIn">Technology</h1><span class="btn btn-linear-small btn-number-arts">36 articles</span>
                  </div>
                  <p class="color-gray-500 text-base wow animate__animated animate__fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis nisi sed turpis vulputate viverra. Morbi ligula elit, hendrerit non nisl tincidunt, sodales consequat magna.</p>
                </div>
                <div class="col-lg-5 mb-20 text-start text-lg-end">
                  <div class="box-breadcrumbs wow animate__animated animate__fadeIn">
                    <ul class="breadcrumb">
                      <li><a class="home" href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'blog' %}">Blog</a></li>
                      <li><span>Technology</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="border-bottom border-gray-800 mt-10 mb-30"></div>
                </div>
              </div>
              <div class="mt-50 mb-50">
                <div class="row mt-50 mb-10">
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/technology/news1.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View?</h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{%static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/technology/news2.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/technology/news3.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/technology/news4.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/travel-tip/news9.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/travel-tip/news12.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/travel-tip/news2.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-blog-1 hover-up wow animate__animated animate__fadeIn">
                      <div class="card-image mb-20"><a class="post-type" href="#"></a><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/technology/news5.png' %}" alt="Genz"></a></div>
                      <div class="card-info">
                        <div class="row">
                          <div class="col-7"><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Travel</a><a class="color-gray-700 text-sm" href="{% url 'blog' %}">#Lifestyle</a></div>
                          <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 mins read</span></div>
                        </div><a href="single-sidebar.html">
                          <h4 class="color-white mt-20">Ready To Go Home After The Sunset View? </h4></a>
                        <p class="color-gray-500 mt-15">Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner flapped lynx far that and jeepers giggled far and far</p>
                        <div class="row align-items-center mt-25">
                          <div class="col-7">
                            <div class="box-author"><img src="{% static 'assets/imgs/page/homepage1/author.jpg' %}" alt="Genz">
                              <div class="author-info">
                                <h6 class="color-gray-700">Joseph</h6><span class="color-gray-700 text-sm">25 April 2022</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>Read more</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <nav class="mb-50">
                  <ul class="pagination">
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="page-link page-prev" href="#"><i class="fi-rr-arrow-small-left"></i></a></li>
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".1s"><a class="page-link" href="#">1</a></li>
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".2s"><a class="page-link active" href="#">2</a></li>
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".3s"><a class="page-link" href="#">3</a></li>
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".4s"><a class="page-link" href="#">...</a></li>
                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".5s"><a class="page-link page-next" href="#"><i class="fi-rr-arrow-small-right"></i></a></li>
                  </ul>
                </nav>
              </div>
              <div class="mb-70"></div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="box-sidebar bg-gray-850 border-gray-800">
                        <div class="head-sidebar">
                          <h5 class="line-bottom">Popular Posts</h5>
                        </div>
                        <div class="content-sidebar">
                          <div class="list-posts">
                            <div class="item-post wow animate__animated animate__fadeIn">
                              <div class="image-post"><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/homepage1/img-post.jpg' %}" alt="Genz"></a></div>
                              <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                  <h6 class="color-white">Creating is a privilege but it’s also a gift</h6></a><span class="color-gray-700">15 mins read</span>
                                <ul class="d-inline-block">
                                  <li class="color-gray-700">15 April 2022</li>
                                </ul>
                              </div>
                            </div>
                            <div class="item-post wow animate__animated animate__fadeIn">
                              <div class="image-post"><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/homepage1/img-post2.jpg' %}" alt="Genz"></a></div>
                              <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                  <h6 class="color-white">Being unique is better than being perfect</h6></a><span class="color-gray-700">15 mins read</span>
                                <ul class="d-inline-block">
                                  <li class="color-gray-700">15 April 2022</li>
                                </ul>
                              </div>
                            </div>
                            <div class="item-post wow animate__animated animate__fadeIn">
                              <div class="image-post"><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/homepage1/img-post3.jpg' %}" alt="Genz"></a></div>
                              <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                  <h6 class="color-white">Every day, in every city and town across the country</h6></a><span class="color-gray-700">15 mins read</span>
                                <ul class="d-inline-block">
                                  <li class="color-gray-700">15 April 2022</li>
                                </ul>
                              </div>
                            </div>
                            <div class="item-post wow animate__animated animate__fadeIn">
                              <div class="image-post"><a href="single-sidebar.html"><img src="{% static 'assets/imgs/page/homepage1/img-post4.jpg' %}" alt="Genz"></a></div>
                              <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                  <h6 class="color-white">Your voice, your mind, your story, your vision</h6></a><span class="color-gray-700">15 mins read</span>
                                <ul class="d-inline-block">
                                  <li class="color-gray-700">15 April 2022</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="box-sidebar bg-gray-850 border-gray-800">
                        <div class="head-sidebar wow animate__animated animate__fadeIn">
                          <h5 class="line-bottom">Last Comment</h5>
                        </div>
                        <div class="content-sidebar">
                          <div class="list-comments">
                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                              <p class="color-gray-500 mb-20">“ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “</p>
                              <div class="box-author-small"><img src="{% static 'assets/imgs/page/homepage1/author6.png' %}" alt="Genz">
                                <div class="author-info"><span class="d-block color-gray-700 text-sm">Jane Cooper</span><span class="color-gray-700 text-xs">15 April 2022</span></div>
                              </div>
                            </div>
                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                              <p class="color-gray-500 mb-20">“ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “</p>
                              <div class="box-author-small"><img src="{% static 'assets/imgs/page/homepage1/author7.png' %}" alt="Genz">
                                <div class="author-info"><span class="d-block color-gray-700 text-sm">Katen Doe</span><span class="color-gray-700 text-xs">15 April 2022</span></div>
                              </div>
                            </div>
                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                              <p class="color-gray-500 mb-20">“ Gosh jaguar ostrich quail one excited dear hello and bound and the and bland moral misheard roadrunner “</p>
                              <div class="box-author-small"><img src="{% static 'assets/imgs/page/homepage1/author8.png' %}" alt="Genz">
                                <div class="author-info"><span class="d-block color-gray-700 text-sm">Barbara Cartland</span><span class="color-gray-700 text-xs">15 April 2022</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="box-sidebar bg-gray-850 border-gray-800">
                        <div class="head-sidebar"><a href="index.html"><img src="{% static 'assets/imgs/template/logo.svg' %}" alt="Genz"></a>
                          <h6 class="color-gray-700">Follow us on instagram</h6>
                        </div>
                        <div class="content-sidebar">
                          <div class="row mt-30 mb-10">
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery2.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery3.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery4.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery5.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery6.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery7.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery8.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery9.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery7.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery8.png' %}" alt="Genz"></a></div>
                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="{% static 'assets/imgs/page/homepage1/gallery9.png' %}" alt="Genz"></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}