{% load static %}
<header class="header sticky-bar">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-xl-1"></div>
            <div class="col-xl-10 col-lg-12">
                <div class="main-header">
                    <div class="header-logo"><a class="d-flex" href="{% url 'home' %}"><img class="logo-night" alt="GenZ"
                                                                                      src="{% static 'assets/imgs/template/logo.svg' %}"><img
                            class="d-none logo-day" alt="GenZ"
                            src="{% static 'assets/imgs/template/logo-day.svg' %}"></a></div>
                    <div class="header-nav">
                        <nav class="nav-main-menu d-none d-xl-block">
                            <ul class="main-menu">
                                <li class="has-item"><a class="color-gray-500" href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="has-item"><a class="color-gray-500" href="{% url 'about' %}">About </a>
                                </li>
                                <li class="has-item"><a class="color-gray-500" href="{% url 'category' %}">Category</a>
                                </li>
                                <li class="has-item"><a class="color-gray-500" href="{% url 'portfolio' %}">Portfolio</a>
                                </li>
                                <li class="has-item"><a class="color-gray-500" href="{% url 'blog' %}">Blog</a>
                                </li>
                                <li><a class="color-gray-500" href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span
                                class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
                    </div>
                    <div class="header-right text-end"><a class="btn btn-search" href="#"></a>
                        <div class="form-search p-20">
                            <form action="#">
                                <input class="form-control" type="text" placeholder="Search">
                                <input class="btn-search-2" type="submit" value="">
                            </form>
                        </div>
                        <div class="switch-button">
                            <div class="form-check form-switch">
                                <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox"
                                       role="switch" checked="">
                            </div>
                        </div>
                        <a class="btn btn-linear d-none d-sm-inline-block d-md-inline-block d-lg-inline-block hover-up"
                           href="{% url 'login' %}">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar bg-gray-900">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo border-gray-800"><a class="d-flex" href="{% url 'home' %}"><img class="logo-night"
                                                                                              alt="GenZ"
                                                                                              src="{% static 'assets/imgs/template/logo.svg' %}"><img
                    class="d-none logo-day" alt="GenZ" src="{% static 'assets/imgs/template/logo-day.svg' %}"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            <li class="has-children"><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="has-children"><a href="{% url 'category' %}">Category</a>
                            </li>
                            <li class="has-children"><a href="{% url 'blog' %}">Blog</a>
                            </li>
                            <li class="has-children"><a class="color-gray-500" href="{% url 'portfolio' %}">Portfolio</a>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="site-copyright color-gray-400 mt-30">Copyright 2023 &copy; Genz - Personal Blog
                    Template.<br>Designed by<a href="http://alithemes.com" target="_blank">&nbsp; AliThemes</a></div>
            </div>
        </div>
    </div>
</div>